@tigahealth:registry=https://git.tiga.com.tr/api/v4/projects/209/packages/npm/
# Install
# gitlab+deploy-token-10
//git.tiga.com.tr/api/v4/packages/npm/:_authToken=yoU9wYYpyT9y7XsyRaCx

# Publish
# gitlab+deploy-token-11
//git.tiga.com.tr/api/v4/projects/209/packages/npm/:_authToken=CmE--qTXs5DvHzC4_Ab8
